.about-head {
    color: var(--blue);
}




.para {
    display: flex;
    justify-content: center;
    align-items: center;
 
    p {
        color: rgba(0, 128, 0, 0.771);
        // color: #33315f;
        margin-top: 10px;
        font-size: 18px;
       

    }
}

.img-container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        border-radius: 30px 20px; 
        width: 280px;
        height: 280px;
        transition: 0.3s;
        &:hover{
            transform: scale(1.2);
        }
    }
}


@media (max-width: 767px) {
	
	.para {
     
        p {
          
            font-size: 14px;
        }
    }
}