// google font
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lobster&family=Yatra+One&display=swap');


// colors
:root {
    --blue: #525FE1;
    --green: #22A699;
    --yellow: #F8B400;
}


// testing
.border {
    border: 2px solid red;
}

.space {
    height: 10vh;
}






.border-blue {
    border: 2px solid blue;
}

.div-flex {
    display: flex;

}

.div-flex-2-width {
    width: 50%;
}

@media (max-width: 767px) {

    .div-flex {
        flex-direction: column;
    }

    .div-flex-2-width {
        width: 100%;
    }
}

.h1 {
    font-size: 30px;
    font-weight: 300px;
    font-weight: 500;
}

.h2 {
    font-size: 26px;
}

.font-head {
    font-family: 'Carter One', cursive;
    font-weight: 400;
}

.font {
    font-family: 'Lobster', cursive;

}

.font-p {
    font-family: 'Yatra One', cursive;
}

.text-center {
    text-align: center;
}

.btn {
    cursor: pointer;
    margin: 1px 2px;
    background-color: white;
    color: blue;
    height: 40px;
    width: 150px;
    border-radius: 5px 15px;
    border: 1px solid #F86F03;
    font-size: 20px;
    font-family: 'Yatra One', cursive;
    transition: 0.3s;

    &:hover {
        color: white;
        background-color: var(--blue);
    }
}