// google font
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lobster&family=Yatra+One&display=swap');


// colors
:root {
    --blue: #525FE1;
    --green: green;
    --yellow: #F8B400;
}


// testing
.border {
    border: 2px solid red;
}

.space {
    height: 10vh;
}

#about {
    padding-top: 60px;
}

#contact {
    padding-top: 60px;
}

.text-fit {
    text-align: justify;
}






.border-blue {
    border: 2px solid blue;
}

.div-flex {
    display: flex;

}

.div-flex-2-width {
    width: 50%;
}



.h1 {
    font-size: 30px;
    font-weight: 300px;
    font-weight: 500;
}

.h2 {
    font-size: 26px;
}

.font-head {
    font-family: 'Carter One', cursive;
    font-weight: 400;
}

.font {
    font-family: 'Lobster', cursive;

}

.font-p {
    font-family: 'Yatra One', cursive;
}

.text-center {
    text-align: center;
}

.btn {
    cursor: pointer;
    margin: 1px 2px;
    background-color: white;
    color: var(--green);
    height: 40px;
    width: 150px;
    border-radius: 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.542);
    border: 1px solid green;
    font-size: 20px;
    font-family: 'Yatra One', cursive;
    transition: 0.3s;

    &:hover {
        color: white;
        background-color: var(--green);
    }
}

.w-50 {
    width: 50%;
}
.hr-line{
    height: 2px ;
    background-color: var(--blue);
    margin: 5px 0px;
}



// mobile view
@media (max-width: 767px) {

    .div-flex {
        flex-direction: column;
    }

    .div-flex-2-width {
        width: 100%;
    }

    .w-50 {
        width: 100%;
    }
}