.big-box {
   
    width: 100%;
    justify-content: center;
    align-items: center;
    // background-color: red;
}

.in-box {
    height: 80px;
    width: 80px;
    background-color:rgba(0, 128, 0, 0.771);
    // background-color: var(--green);
    margin: 10px;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.9s;

    &:hover {
        background-color: var(--yellow);
    }
}

.social-icons {
    font-size: 45px;

}

.contact-head {
    h1 {
        color: var(--blue);
    }
}

@media (max-width: 767px) {
    .in-box {
        width: 60px;
        height: 60px;
        border-radius: 30%;
       
    }
}