.writer {
    z-index: 10;
}

.first-box-left {
    padding-top: 100px;

    p {
        margin: 15px 0px;
        font-size: 20px;

    }

    button {
        background-color: white;
        color: blue;
        height: 40px;
        width: 150px;
        border-radius: 10px 30px;
        border: 2px solid blue;
        font-size: 20px;
        margin-top: 10px;
    }
}