.writer {
	z-index: 10;
}

.first-main {
	// padding-top: 50px;
	min-height: 80vh;
	justify-content: center;
	align-items: center;
}

.first-box-left {
	padding-top: 50px;

	p {
		margin: 15px 0px;
		font-size: 20px;
	}

	button {
		margin-top: 10px;
	}
}
.btn-home-call{
	color: green;
	// display: flex;
	// justify-content: space-between;
}
.home-btn {
	align-items: start;
}

.resume-btn {
	background-color:green;
	// background-color: var(--blue);
	color: white;

	&:hover {
		background-color: white;
		color: var(--green);
	}
}

.resume-btn {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.home-head-2 {
	color: green;
	// color: #33315f;
	padding-bottom: 8px;
	// text-decoration: underline;
	// color: #525FE1;
}

.first-box-right {
	justify-content: center;
	align-items: center;
	// height: 100%;
}

.logo-image {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transition: 0.5s;
	&:hover{
		filter: grayscale(100%);
		// filter: brightness(80%);
	}
}

.hero-section{
	padding: 5px;
	background-color: green;
	margin: 40px 0px;
	border-radius: 5px;

}

.works{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	padding: 5px 0px;
	font-size: 16px;
	
	>div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		>div{
			width: 50px;
			height: 50px;
			border: 2px solid white;
			// box-shadow: 2px 2px 2px rgba(255, 248, 248, 0.542);
			display: flex;
			gap: 3px;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}
	}
}

.git-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	>img{
		border: 2px solid aqua;
		min-width: 100%;
		max-width: 600px;
		height: auto;
		border-radius: 5px;
	}
}

// footer
.footer {
	// background-color: #007bff;
	background-color: green;
	color: white;
	text-align: center;
	line-height: 20px;
	border-radius: 2px;
}


@media (max-width: 767px) {
	
	.first-box-left {
		padding-top: 10px;
		order: 2;
	}
	.logo-image {
		width: 100%;
		height: auto;
	}
	.works{
		
		font-size: 12px;
		
		>div{
			
			>div{
				width: 40px;
				height: 40px;
				border: 2px solid white;
				// box-shadow: 2px 2px 2px rgba(255, 248, 248, 0.542);
				display: flex;
				gap: 3px;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
			}
		}
	}
}
