* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca Light";
}

html {
    font-size: 62.5%;
}


p,
a,
li {
    font-size: 1.7rem;
    color: #20262E;
}

li a {
    color: #20262E;

}

a {
    text-decoration: none;
    color: white;
}

.fa-bars {
    font-size: 3.2rem;
    color: white;
}

header {
    border-bottom: 2px solid blue;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: #0613cfc4;
}

.logo a {
    font-size: 2.5rem;
}

@media (max-width: 767px) {
    .logo a {
        font-size: 2rem;
    }
}

.navbar {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    transition: all 0.3s linear;
    overflow: hidden;
}

.nav-first {
    width: 50%;
    max-width: 33rem;
    min-width: 30rem;
    background-color: #655DBB;
}

.nav-first ul {
    height: 100%;
    background-color: #ECF2FF;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-top: 100px;
    align-items: center;
}

.nav-first ul li {

    list-style: none;
    width: 100%;
    height: 45px;
    text-align: center;
    margin: 0px;
    transition: 0.5s;
    border-radius: 5px;

    &:hover {
        background-color: #655DBB;
    }

    &:hover .li-link {
        color: white;
    }
}

.li-link {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.5s;
    line-height: 45px;
    text-transform: uppercase;
}

.active {
    display: block;
}

.fa-square-xmark {
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 3.2rem;
}

// image
.image {
    height: 130px;
    width: 130px;
    background-color: red;
    margin-bottom: 20px;
    border-radius: 50%;
}