* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca Light";
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

p,
a,
li {
    font-size: 1.7rem;
    color: #20262E;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.fa-bars {
    font-size: 3.2rem;
}

header {
    border-bottom: 2px solid blue;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    /*background-color: red;*/
}

.logo a {
    font-size: 2.5rem;
}

@media (max-width: 767px) {
    .logo a {
        font-size: 2rem;
    }
}

.navbar {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s linear;
}

.nav-first {
    width: 50%;
    max-width: 30rem;
    min-width: 30rem;
    background-color: #655DBB;
}

.nav-second {
    background-color: #3E54AC;
    width: 95%;
}

.navbar-list {
    display: flex;
    justify-content: flex-start;
    padding-top: 120px;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: #ECF2FF;
}

.navbar-list ul {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    list-style: none;
    width: 100%;


}

.navbar-list ul li {
    width: 100%;
    height: 50px;
    text-align: center;
    transition: 0.5s;

    &:hover {
        background-color: #655DBB;
    }
}

.navbar-list a {
    line-height: 50px;
    font-size: 2.4rem;
    text-transform: uppercase;
    transition: 0.5s;
}

.navbar-list a:hover {
    color: white;
}


.active {
    transform: translateX(0);
}

.fa-square-xmark {
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 3.2rem;
}