* {
    margin: 0;
    padding: 0;
}

html {
    margin-top: opx;
    scroll-behavior: smooth;
}

.container {
    /* padding: 0px 14%; */
    max-width: 120rem;
   
    display: block;
    margin: auto;
    padding: 0px 30px;
}

@media (max-width: 767px) {

    .container {
        padding: 0px 5%;
    }
}